.git
.github
.idea
.vscode
node_modules
vendor
sites/default/documents
sites/default/edi
sites/default/era
sites/default/letter_templates
*.log
*.sqlite
.env
.env.local
.phpunit.result.cache
.phpstan
coverage
docker-compose.override.yml
